:host ::ng-deep {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  
    i {
      cursor: pointer;
      color: #673AB7;
    }
  
    &.img-container {
      max-width: 100%;
      max-height: 100%;
    }
  
    &.container-img {
      position: relative;
    }
  
    &.upload-container {
      position: absolute; /* Establece la posición absoluta en el contenedor flex */
      top: 0; /* Coloca el contenedor en la parte superior del contenedor principal */
      right: 0; /* Coloca el contenedor en la esquina superior derecha del contenedor principal */
      z-index: 2;
    }
  }