<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>

<app-datagrid
  [dataSource]="prizeLevelsList()"
  [configurations]="configurationDatagrid()"
  [operationsData]="operationsDatagrid()"
  [loading]="loadingData()"
></app-datagrid>

<p-confirmDialog
  key="deleteConfirm"
  [style]="{ width: '350px' }"
  acceptButtonStyleClass="p-button-text"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<p-dialog
  [visible]="showForm()"
  [style]="{ width: '450px' }"
  header="Niveles de premios"
  [modal]="true"
  class="p-fluid"
  (onDragEnd)="onDragEnd()"
>
  <app-form-prize-level
    *ngIf="showForm()"
    [dataRecord]="this.prizeLevel()"
    (successCreate)="processResponseCreate($event)"
    (successUpdate)="processResponseUpdate($event)"
  ></app-form-prize-level>
</p-dialog>