<div>
    <h2 class="title"><i class="pi pi-gift" style="color: #673AB7"></i> Lista de sorteos activos <i class="pi pi-gift" style="color: #673AB7"></i></h2>
</div>
<div class="container">
    <div *ngFor="let raffle of raffles" class="raffle">
        <div class="image" [style.background-image]="'url(' + getImagePath(raffle.image_url) + ')'"></div>
        <div class="details">
            <h2>{{ raffle.name }}</h2>
            <p>{{ raffle.description }}</p>
            <p><strong>Fecha de inicio:</strong> {{ raffle.start_date }}</p>
            <p><strong>Fecha de fin:</strong> {{ raffle.end_date }}</p>
            <a [routerLink]="['/raffle', raffle.raffle_id]">Ver detalles</a>
        </div>
    </div>
</div>