<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>

<p-confirmDialog key="deleteConfirm" [style]="{ width: '350px' }" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Sorteos</h5>
            <p-dataView #dv [value]="raffles()" [paginator]="true" [rows]="numberShowRegisters()" filterBy="start_date"
                [sortField]="sortField()" [sortOrder]="sortOrder()" layout="grid"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
                [showCurrentPageReport]="true" [totalRecords]="totalRecords()" [loading]="loadingData()" [lazy]="true"
                (onLazyLoad)="onLoadData($event)">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <p-dropdown [options]="sortOptions()" placeholder="Order por Precio"
                            (onChange)="onSortChange($event)"></p-dropdown>
                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input #nameField id="nameField" type="Buscar..." pInputText placeholder="Buscar por nombre"
                                (keyup.enter)="onTextFilter($event)" (keyup)="onTextFilter($event)" />
                        </span>

                        <div class="flex gap-2">
                            <p-button icon="pi pi-plus" styleClass="p-button-rounded" pTooltip="Nuevo Sorteo"
                                (onClick)="activeNewRaffleForm()"></p-button>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>

                    <p-dialog [visible]="showForm()" [style]="{ width: '75vw', height: '80vh' }" header="Sorteo"
                        [modal]="true" class="p-fluid" [resizable]="false" (onDragEnd)="onDragEnd()">
                        AGREGAR FORMULARIO DE RAFFLE
                    </p-dialog>

                    <p-dialog [visible]="showDetail()" [style]="{ width: '410px', height: '100vh' }" header="Sorteo"
                        [modal]="true" class="p-fluid" [resizable]="true" (onDragEnd)="onDragEndDetail()">
                        <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
                            <app-raffle-detail *ngIf="showDetail()" [raffle]="this.raffleDetail()"></app-raffle-detail>
                        </p-scrollPanel>
                    </p-dialog>
                </ng-template>

                <ng-template let-raffle pTemplate="listItem">
                    <div class="col-12">
                        <raffle-list-view [raffle]="raffle" (onViewData)="onViewData($event)"
                            (onEditData)="onEditData($event)" (onDeleteData)="onDeleteData($event)"></raffle-list-view>
                    </div>
                </ng-template>

                <ng-template let-raffle pTemplate="gridItem">
                    <div class="col-12 md:col-4">
                        <raffle-grid-view [raffle]="raffle" (onViewData)="onViewData($event)"
                            (onEditData)="onEditData($event)" (onDeleteData)="onDeleteData($event)"></raffle-grid-view>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>