<header>
    <div class="logo">
        <img src="./../../../../../assets/layout/images/logo-white.png" alt="Sorteos Devtalles Logo">
        <h1>Sorteos Dev/talles</h1>
    </div>
</header>

<div class="container-content">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="./../../../../../assets/layout/images/logo-white.png" alt="Sorteos Devtalles Logo">
        </div>
    </div>
    <div class="footer-info">
        <p>Todos los derechos reservados &copy; 2024 Sorteos Dev/talles</p>
    </div>
</footer>